<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application android:theme="@style/Theme.WhatsAppFileBrowser" android:label="asimFiles" android:allowBackup="true">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <provider
            android:name=".AsimFilesProvider"
            android:authorities="com.bluebeetle.whatsappfilebrowser.documents"
            android:exported="true"
            android:grantUriPermissions="true"
            android:permission="android.permission.MANAGE_DOCUMENTS">
            <intent-filter>
                <action android:name="android.content.action.DOCUMENTS_PROVIDER"/>
            </intent-filter>
        </provider>
    </application>
</manifest>
